name: Build FOX RP (OpenSAMPLauncher)

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Исправлено: ставим Java 8, чтобы Gradle 6.5 не выдавал ошибку
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Patch Launcher Data
        run: |
          # Меняем название на FOX RP
          find . -name "strings.xml" -exec sed -i 's/<string name="app_name">.*<\/string>/<string name="app_name">FOX RP<\/string>/' {} +
          
          # Меняем IP на твой (ICE)
          find . -type f \( -name "*.java" -o -name "*.kt" \) -exec sed -i 's/[0-9]\{1,3\}\.[0-9]\{1,3\}\.[0-9]\{1,3\}\.[0-9]\{1,3\}:[0-9]\{4,5\}/188.127.241.74:2329/g' {} +

          # Меняем ссылку на кэш Dropbox
          find . -type f \( -name "*.java" -o -name "*.kt" \) -exec sed -i 's|https://[^"]*\.zip[^"]*|https://www.dropbox.com/scl/fi/g4791eve3lfu8t29imu75/cache.zip?rlkey=8y4ani8ol494h7fq40zph7vkz\&st=jr1mhztx\&dl=1|g' {} +

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FOX-RP-Launcher-Build
          path: app/build/outputs/apk/debug/app-debug.apk
